## DATA PREPROCESSING & FEATURE ENGINEERING

In [1]:
import pandas as pd

In [2]:
# Load Data from excel file

# Dataset from Year 2009-2010
df1 = pd.read_excel("../data/raw/online_retail.xlsx",sheet_name=0)

# Dataset from Year 2010-2011 
df2 = pd.read_excel("../data/raw/online_retail.xlsx",sheet_name=1)

In [3]:
# Merged Both Datasets

df = pd.concat([df1,df2],ignore_index=True)

In [11]:
cleaned_df = df.copy()

In [12]:
cleaned_df["Invoice"] = cleaned_df["Invoice"].astype("str")

mask = (
    cleaned_df["Invoice"].str.match("^\\d{6}$") == True
)

cleaned_df = cleaned_df[mask]

cleaned_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [13]:
cleaned_df["StockCode"] = cleaned_df["StockCode"].astype("str")

mask = (
    (cleaned_df["StockCode"].str.match("^\\d{5}$") == True)
    | (cleaned_df["StockCode"].str.match("^\\d{5}[a-zA-Z]+$") == True)
    | (cleaned_df["StockCode"].str.match("^PADS$") == True)
)

cleaned_df = cleaned_df[mask]

In [14]:
# Dropping Null Customer ID rows as they don't have any impact anyway.

cleaned_df.dropna(subset=["Customer ID"], inplace=True)

C:\Users\Dell Precision\AppData\Local\Temp\ipykernel_3528\800142717.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df.dropna(subset=["Customer ID"], inplace=True)

In [15]:
cleaned_df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,802711.000000,802711,802711.000000,802711.000000
mean,13.336280,2011-01-02 09:20:34.073732864,2.930474,15338.065410
min,1.000000,2009-12-01 07:45:00,0.000000,12346.000000
25%,2.000000,2010-07-07 11:53:00,1.250000,13988.000000
50%,5.000000,2010-12-03 14:54:00,1.950000,15276.000000
75%,12.000000,2011-07-28 13:02:00,3.750000,16809.000000
max,80995.000000,2011-12-09 12:50:00,649.500000,18287.000000
std,144.542222,NaN,4.275804,1693.929085

In [16]:
len(cleaned_df[cleaned_df["Price"] == 0])

62

All the orders that have ZERO price should be removed since they are not big in number so that wouldn't be a problem also

In [20]:
cleaned_df.shape

(802711, 8)

In [27]:
cleaned_df = cleaned_df[cleaned_df["Price"] > 0]
cleaned_df.shape

(802630, 8)

In [28]:
cleaned_df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,802630.000000,802630,802630.000000,802630.000000
mean,13.314261,2011-01-02 09:25:48.676226560,2.930770,15338.170202
min,1.000000,2009-12-01 07:45:00,0.040000,12346.000000
25%,2.000000,2010-07-07 12:02:00,1.250000,13988.000000
50%,5.000000,2010-12-03 14:54:00,1.950000,15276.000000
75%,12.000000,2011-07-28 13:02:00,3.750000,16809.000000
max,80995.000000,2011-12-09 12:50:00,649.500000,18287.000000
std,143.834963,NaN,4.275918,1693.906917

Amount of Data Lost in the Cleaning step

In [29]:
len(cleaned_df)/len(df)*100

75.19690904099886

Dropped about 25% of the Data